@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.bannerDiv {
  height: 100vh;
  z-index: 98;
  position: relative;

  .banner_row {
    height: 100%;

    .banner_bg_1 {
      background-color: black;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;

      @media (max-width: 768px) {
        align-items: center;
      }

      h1 {
        // transform: translateY(50%);
        font-weight: 900;
        position: absolute;
        top: 60%;
        @media (max-width: 768px) {
          top: 70%;
        }

        color: white;
        font-family: $font_banner;
        font-size: 3rem;
        @media (max-width: 1045px) {
          font-size: 2rem;
        }
      }
    }

    .banner_bg_2 {
      background-image: url("house.webp");
      background-position: center;
    }
  }
}
